html, 
body {
	height: 100%;
	background-color: #100324; 
	font-family:"Open-sans", sans-serif;

}
#home{
	background-color: #100324; 
	background-image: url("../Assets/background.png");
	height: 100%; 
}
#homeHeader{
	background-color :#070111;
	color : white;
}

#homeName {
	color :#48326C;
}
#aboutMe{
	color: white;
}
#aboutInfoContainer{
	background-color :#070111;

}
#aboutInfo a{
	color :#48326C;
}
#aboutInfo {
	color: white;
	font-size: 0.9rem;
}
#skillsContainer{
	background-color :#070111;

}
#skillsInfo a{
	color :#48326C;
}
#skillsInfo {
	color: white;
	font-size: 0.9rem;
}
/*
#aboutMeHeader{

}
*/


/*
NavBar stuff
*/
#colorScheme{
color :#48326C;
color :#321C55;
color :#1E0C3B;
color :#100324;
color :#070111;
}

.scrolled{
	
   background-color: #100324;
   border-color: #100324;
}
#mainNavBar .nav-link{
	color: white;
}

#mainNavBar .nav-link:hover{
	color :rgb(89, 67, 126);
}

#home{
	text-align:center;
	color: white;
	background-color: #100324; 
}
.navResume{
	justify-self: right;
}
