html,
body {
	height: 100%;
	background: var(--primary-bg-color);
	font-family:"Open-sans", sans-serif;
	font-size: 1.15rem;
}
body{
	overflow-x:hidden;
}
h2{
	padding-bottom: 0px;
	margin-bottom: 0px;
	
}

#button-resume{
	color: #000000;
}
#button-resume:hover{
	color:var(--highlighted-text-color);
}
#home{
	background: var(--primary-bg-color);
	/*background-image: url("../Assets/background.jpg");*/
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover; /* Resize the background image to cover the entire container */
	height: 100%; 
	text-align:center;
	color: var(--primary-text-color);
}

#homeHeader{
	background-color :var(--secondary-bg-color);
	color : var(--header-text-color);
}
#sectionHeaderText{
	color: var(--header-text-color);
	font-size: 2rem;
}

#homeName {
	color:var(--highlighted-text-color);
}
#aboutMe{
	color: var(--primary-text-color);
}
#aboutInfoContainer{
	background-color :var(--secondary-bg-color);
	border-color: #000000;
}
#aboutInfo a{
	color:var(--highlighted-text-color);
}
#aboutInfo {
	border-color: #000000;	
	color: var(--primary-text-color);
	font-size: 0.9rem;
}
#aboutInfo span{
	color:var(--highlighted-text-color);
}
#skills{
	color: var(--primary-text-color);
}
#skillsContainer{
	background-color :var(--secondary-bg-color);
	border-color: #000000;
}
#skillsInfo a{
	color :#E69C00;
}

#skillsInfo {
	color: var(--primary-text-color);
	font-size: 0.9rem;
}
#projectCardWrapper{
	margin-bottom: 10px;
}
#projectCard{
	border-color: #000000;
	background-color :var(--secondary-bg-color);
	color: var(--primary-text-color);
}
#projectCardHeader{
	color:#000000;
}
#projectCardFooter{
	color: var(--primary-text-color);
}
#projectCardText{
	background-color :var(--secondary-bg-color);
	color: var(--primary-text-color);
}
#contactMe{
	background-color: var(--primary-bg-color);
	padding-bottom: 0;
	margin-bottom:0;
}
#contactData{
	color:var(--highlighted-text-color);
}
/*
#aboutMeHeader{

}
*/

.navBar.scrolled{
   background: var(--header-bg-color);
   transition-duration: 500ms;
}
#mainNavBar{
	color: #000000;
}
#mainNavBar .nav-link{
	font-size: 1.18	rem;
	color: #000000;	
}
#mainNavBar .nav-link:hover{
	color:var(--highlighted-text-color);
}
.navResume{
	justify-self: right;
}
hr{
	border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}
:root {
	--primaryt-bg-color: #546e7a;
	--secondary-bg-color: #5c7148;
	--primary-bg-color: white;
	--primary-text-color: #FFFFFF;
	--header-bg-color: #475c66;
	--header-text-color: #000000;
	--github-icon-color:  ;
	--highlighted-text-color: rgb(0, 0, 0);
  }
/* Old colour scheme
--primaryt-bg-color: #546e7a;
*/
/*
#colorScheme{
/ Main Primary color
 green red
color: #17991F;
color: #B6D4B8;
color: #4FB756;
color: #007307;
color: #003E04;

color: #C3211D;	
color: #FFDCDB;
color: #E86865;
color: #4F0200;
color: #920400;

purple!
color: white; /Normal text
color :#48326C; /Text highlight
color :#321C55;  main background  
color :#1E0C3B; 
color :#100324;
color :#070111;  Secondary Background 
}
*/