html,
body {
	height: 100%;
	background-color: #081947;
	font-family:"Open-sans", sans-serif;

}
body{
	overflow-x:hidden;
}
#buttonResume{
	color: #E69C00;
}
#home{
	background-color: #081947;
	background-image: url("../Assets/background.jpg");
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover; /* Resize the background image to cover the entire container */
	height: 100%; 
	text-align:center;
	color: white;
}

#homeHeader{
	background-color :#081947;
	color : white;
}
#sectionHeaderText{
	color: white;
	font-size: 2rem;
}
#sectionHeaderContainer{
	padding-top: 10px;
	padding-bottom: 10px;
}
#homeName {
	color :#E69C00;
}
#aboutMe{
	color: white;
}
#aboutInfoContainer{
	background-color :#040E2A;

}
#aboutInfo a{
	color :#E69C00;
}
#aboutInfo {
	color: white;
	font-size: 0.9rem;
}
#aboutInfo span{
	color :#E69C00;
}
#skills{
	color: white;
}
#skillsContainer{
	background-color :#040E2A;

}
#skillsInfo a{
	color :#E69C00;
}

#skillsInfo {
	color: white;
	font-size: 0.9rem;
}
#projectCard{
	background-color :#040E2A;
	color: white;
}
#projectCardHeader{
	color:#E69C00 ;
}
#projectCardFooter{
	color: white;
}
#projectCardText{
	background-color :#040E2A;
	color: white;
}
#contactMe{
	background-color: #040E2A;
	padding-bottom: 0;
	margin-bottom:0;
}
#contactData{
	color :#E69C00;
}
/*
#aboutMeHeader{

}
*/


.navBar.scrolled{
   background: #081947;
   transition-duration: 500ms;
}
#mainNavBar .nav-link{
	color: white;
}
#mainNavBar .nav-link:hover{
	color:#E69C00;
}
.navResume{
	justify-self: right;
}
/*
#colorScheme{
/ Main Primary color
 green red
color: #17991F;
color: #B6D4B8;
color: #4FB756;
color: #007307;
color: #003E04;

color: #C3211D;	
color: #FFDCDB;
color: #E86865;
color: #4F0200;
color: #920400;

purple!
color: white; /Normal text
color :#48326C; /Text highlight
color :#321C55;  main background  
color :#1E0C3B; 
color :#100324;
color :#070111;  Secondary Background 
}
*/